//Variaveis
$cor-primaria: #223946;
$cor-secundaria: #87C739;
$cor-clara: white;
$fonte-principal: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

//Reset
* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

//MIXINS
@mixin bordaEspecial($cor, $raio, $largura){
    background: linear-gradient($cor-clara, $cor); 
    background: -o-linear-gradient($cor-clara, $cor); 
    background: -webkit-linear-gradient($cor-clara, $cor); 
    background: -moz-linear-gradient($cor-clara, $cor); 

    border-radius: $raio;
    -o-border-radius: $raio;
    -webkit-border-radius: $raio;
    -moz-border-radius: $raio;

    padding: $largura;

    .info{
        border-radius: $raio;
        -o-border-radius: $raio;
        -webkit-border-radius: $raio;
        -moz-border-radius: $raio;
    }
}