.projeto{
    width: 200px;
    height: 200px;
    float: left;

    padding: 8px;
    text-align: center;
    margin: 16px;

    @include bordaEspecial();

    .info{
        background-color: $cor-clara;
        height: 100%;
        width: 100%;
        border-radius: 10%;
        -o-border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
    }

    h2{
        padding: 16px;
    }

    p{
        padding: 0px 8px 0px 8px;
    }

    hr{
        margin: 16px 0 16px 0;
    }
}

a{
    &:link{
        color: $cor-secundaria;
        text-decoration: inherit;
    }
}