.projeto{
    height: 16vw;
    width: 16vw; 

    min-width: 240px;
    min-height: 240px;

    float: left; 
    
    text-align: center;
    margin: 16px;

    @include bordaEspecial($cor-secundaria, "normal");

    @include sm{
        display: inline-block;
        float: none;
    }
    .info{
        background-color: $cor-clara;
        height: 100%;
        width: 100%;
    }

    h2{
        padding: 16px;
    }

    p{
        padding: 0px 8px 0px 8px;
    }

    hr{
        margin: 16px 0 16px 0;
    }
}

.destaque{
    @include bordaEspecial(meuComplementar($cor-secundaria), "especial");   
}

a{
    &:link{
        color: $cor-secundaria;
        text-decoration: inherit;
    }
}

%secao{
    background-color: $cor-clara; 
    padding: 24px 0px 24px 0px;
    text-align: center;
    color: $cor-primaria;
}