//Variaveis
$cor-primaria: #223946;
$cor-secundaria: #87C739;
$cor-clara: white;
$fonte-principal: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

//Reset
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: $cor-primaria;
    font-family: $fonte-principal;
}

#header{
    background-color: $cor-clara;
    height: 200px;
    padding: 24px 0px 24px 0px;

    .foto{
        float: left;
        height: 100%;
        background-color: blue;
    }

    .info{
        float: left;
        text-align: center;
        color: $cor-primaria;
        margin-left: 104px;
        padding: 48px 0 48px 0; 

        h1{
            font-size: 2.4em;
            margin-bottom: 16px;
        }
    
        h3{
            font-weight: normal;
            margin-bottom: 8px;
        }
    
        a{
            padding: 0 8px 0 8px;
        }
    }
}

.projeto{
    background-color: $cor-clara;
}

a:link{
    color: $cor-secundaria;
    text-decoration: inherit;
}

#footer{
    background-color: $cor-clara;
}