//Variaveis
$cor-primaria: #223946;
$cor-secundaria: #87C739;
$cor-clara: white;
$fonte-principal: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body{
    background-color: $cor-primaria;
    font-family: $fonte-principal;
}

#header{
    background-color: $cor-clara;
}

.projeto{
    background-color: $cor-clara;
}

a:link{
    color: $cor-secundaria;
    text-decoration: inherit;
}